* {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: small;
}

tspan a {
    fill: #93c54b;
    /* Even for text, SVG uses fill over color */
    text-decoration: underline;
    font-style: italic;
}

textarea {
    border: none;
    overflow: hidden;
    resize: none;
    /*remove the resize handle on the bottom right*/
    background-color: transparent;
    line-height: 19px;
    max-width: 100%;
    text-size-adjust: none;
}